<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    <header class="header"id="NavBar">

        <!-- Logo -->
        <div class="logo">
            <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
        </div>

        <!-- Navigation-list -->
        <nav class="nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#"><span>DESTINATIONS <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Delhi</span></a></li>
                                <li><a href="#"><span>Dharmshala</span></a></li>
                                <li><a href="#"><span>Gangtok</span></a></li>
                                <li><a href="#"><span>Goa</span></a></li>
                                <li><a href="#"><span>Ooty</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Hyderabad</span></a></li>
                                <li><a href="#"><span>Jaipur</span></a></li>
                                <li><a href="#"><span>Jaisalmer</span></a></li>
                                <li><a href="#"><span>Jodhpur</span></a></li>
                                <li><a href="#"><span>Pushkar</span></a></li>
                                <li><a href="#"><span>Shreenagar</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Kesar-Devi</span></a></li>
                                <li><a href="#"><span>Leh</span></a></li>
                                <li><a href="#"><span>Mussoorie</span></a></li>
                                <li><a href="#"><span>Nainital</span></a></li>
                                <li><a href="#"><span>Shimla</span></a></li>
                               
                           </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><span>WHAT'S NEW <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaipur1.png" alt="Image">
                            <div class="card-details">  
                            <h2><a href="#">JAIPUR</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaisalmer.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">JAISALMER</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/push.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">PUSHKAR</a></h2>
                            <p>A blend of holiness, tourism, and modernity, Pushkar’s mystic allure is sure..</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="contactUs.html">CONTACT US</a></li>
                <li><span class="button"><button class="">LOGIN</button></span></li>
                <li></li>

            </ul>
        </nav>

        <!-- Navigation for Mobile devices -->
        <nav class="mobile-nav">
            <ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>
                <li><span class="button"><button class="">LOGIN</button></span></li>
            </ul>
            <div id="myNav" class="overlay topnav" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-regular fa-rectangle-xmark"></i></a>
                <div class="overlay-content">
                  <a href="#"><span>HOME</span></a>
                  <a href="#"><span>ABOUT</span></a>
                  <a href="#"><span>DESTINATIONS</span></a>
                  <a href="#"><span>WHAT'S NEW</span></a>
                  <a href="#"><span>BLOG</span></a>
                  <a href="#"><span>CONTACT US</span></a>
                  <a href="#"><span>LOGIN</span></a>
                  <a href="#"><span>FAQs</span></a>
                </div>
              </div>
        </nav>
    </header>
    <!--Post Content-->
    <section class="post-header">
        <div class="header-content post-container">
            <!--Back to blog-->
            
            <h1 class="header-title">Hyderabad is the city of smiles.</h1>
            <!--Post Image-->
            <img src="../imgBlog/img4.jpg" alt="" class="header-img">
        </div>
    </section>
   
    <!--posts-->
    <section class="post-content post-container">
       <h2 class="sub-heading">1.RAMANUJA STATUE</h2>
       <br>
       <h4 class="sub">2 May 2023(By Himanshi)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">The Statue of Equality, also referred to as the Ramanuja statue, is a statue of the 11th-century Ramanuja, located on the premises of the Chinna Jeeyar Trust at Muchintal, Ranga Reddy district in the outskirts of Hyderabad. It is the second tallest sitting statue in the world. Ramanuja was an advocate of social equality among all sections of people centuries ago, and encouraged temples to open their doors to everyone irrespective of caste or position in society at a time when people of many castes were forbidden from entering them.</p>
       <br>
       <img src="../imgBlog/hyd1.jpg" alt="" class="header-img">
       <h2 class="sub-heading">2.Take a Stroll around the Charminar</h2>
      <br>
       <h4 class="sub">10 May 2023(By Komal)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">There’s no doubt that Charminar is the prime landmark of Hyderabad. This enormous four-storied structure comprises of four ornate columns with minarets atop each and four grand arches. It stands with a height of 56 meters and offers a fine view from the first floor. A walk through the bustling area surrounding the imposing monument is a must if you want to truly soak in the vibe of this city. You can indulge in some shopping or taste a few of Hyderabad’s famous dishes here as well.</p>
       <h4 class="sub">An Architectural Marvel</h4>
       <p class="post-text">The architecture of Charminar is another stunning element. With a mosque at the western end of the top floor which is an open roof, The Charminar masjid is a square structure. There is also a Vazu, right in the centre with a small water fountain for Wudu, which means ablution before the prayer.

        Made of granite, mortar, limestone, pulverised marble, each corner of Charminar has a grand arch, facing the street in front of it. Also, there is a finely designed minaret with a double balcony. These minarets are built into the main structure and this entire style of architecture is why Charminar is also called The Arc de Triomphe of the East.</p>
       <h4 class="sub">How to Reach Charminar</h4>
       <p class="post-text">Along with Charminar, many other places in the city are perfect for all kinds of travellers. As a matter of fact, newlyweds often book a Hyderabad honeymoon package to explore the city with their significant others and then, some families tour the city with their near and dear ones. It is a place for everyone.

        Hyderabad is a wonderful destination for travellers. There are hill stations near Hyderabad, there’s a myriad of finely built monuments, the food is good, the weather is even better, and the city welcomes its guests with open arms. And no other place is better to begin the excursion than Hyderabad ka Charminar.</p>
        <br>
       <img src="../imgBlog/hyd2.jpg" alt="" class="header-img">
       <h2 class="sub-heading">3.Visit the Qutb Shahi Tombs</h2>
      <br>
       <h4 class="sub">16 May 2023(By Ram)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">The Tombs form the most reliable evidence of the Qutub Shahi dynasty and their architectural traditions. These are exquisite structures where every arch, columns, dome minarets, and galleries were created with finessed and are surrounded by landscape gardens called Ibrahim Bagh. It houses seven tombs dedicated to the former kings of Golconda. The tombs are dome like structures built on a square base. This is again surrounded by pointed arches. Each tomb is of quadrangular shape and rises around 9 to 15 meters above the terrace. The smaller tombs constitute single stories while the larger tombs are seen as two storied.</p>
       <br>
       <img src="../imgBlog/hyd3.jpg" alt="" class="header-img">
       <h2 class="sub-heading">4.hyderabad cricket stadium</h2>
       <br>
       <h4 class="sub">25 May 2023(By Manish)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">The Rajiv Gandhi International Cricket Stadium, also colloquially known as Hyderabad Cricket Stadium is a cricket stadium in Hyderabad, Telangana, India. Located in the eastern suburb of Uppal, it has a maximum capacity of 55,000 and extends across 15 acres of land. It serves as the home ground for the Hyderabad Cricket Association and the Indian Premier League team Sunrisers Hyderabad. As of 18 January 2023, it has hosted 5 Tests, 7 ODIs, and 3 T20Is. This stadium hosted the opener and final of 2017 Indian Premier League, and also the final of 2019 Indian Premier League.</p>
       <h4 class="sub">Rajiv Gandhi International Cricket Stadium T20I records and stats</h4>
    <p class="post-text">India hold the record for the highest T20I total at this ground. Chasing a steep target of 208 against the West Indies in 2019, the hosts rode on captain Virat Kohli’s unbeaten 94 off just 50 balls and KL Rahul’s 40-ball 62 to post 209/4. Earlier, Shimron Hetmyer’s 56 off 41 balls, Evin Lewis’ 17-ball 40 and skipper Kieron Pollard’s 37 off 19 balls powered West Indies to 207/5 in 20 overs.</p>
    </section>
    <!--share-->
    
    <!--Footer-->
    <footer>
        <div class="footer-head">

            <div class="hotel-name">
                <a href="#">
                    <div class="logo">
                        <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
                    </div>
                 </a> 
            
                <p style="font-weight: bold ;word-spacing: 20px;">- LIVE TRAVEL  EXOLORE -</p>
                <br />
                <p style="line-height: 1.5">The website ends here, but your journey to the remotest destinations in India and Nepal begins with Nomads-Hostel. Explore with our social hostels, homestays, and luxury stays on your next holiday.</p>
                <a href="mailto:centralreservations@pridehotel.com" target="_top" class="email-anchorlink"><br />EMAIL: contact@nomads.com</a>
                
                <div class="social-links">
                    <div>
                        <a href="https://www.facebook.com/ThePrideHotels/" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/thepridehotels/?igshid=1ejp7g2rdcxnu" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/31500086" target="_blank" title="Linkedin" >
                            <i class="fa-brands fa-linkedin-in"></i >
                            </a>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.in/" target="_blank" title="TripAdvisor"> 
                            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

          <div class="hotel-city" style="word-spacing: 6px;">
            <ul>
                <a href="#"><li>KASOL |</li></a>
                <a href="#"><li>DHARMSHALA | </li></a>
                <a href="#"><li>HYDERABAD |</li></a>
                <a href="#"><li>JODHPUR |</li></a>
                <a href="#"><li>CHENNAI |</li></a>
                <a href="#"><li>GANGTOK |</li></a>
                <a href="#"><li>GOA |</li></a>
                <a href="#"><li>HALDWANI |</li></a>
                <a href="#"><li>JAISALMER |</li></a>
                <a href="#"><li>JAIPUR |</li></a>
                <a href="#"><li>KESAR_DEVI |</li></a>
                <a href="#"><li>LEH |</li></a>
                <a href="#"><li>MUSSOORIE |</li></a>
                <a href="#"><li>NAGPUR |</li></a>
                <a href="#"><li>NEW DELHI |</li></a>
                <a href="#"><li>NAINITAL|</li></a>
                <a href="#"><li>PURI |</li></a>
                <a href="#"><li>RANAKPUR |</li></a>
                <a href="#"><li>SASAN GIR |</li></a>
                <a href="#"><li>UDAIPUR</li></a>
            </ul>
          </div>
        </div>
        <hr />

        <div class="footer-foot">
          <div class="footer-foot-menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="about.html"><li>About Us</li></a>
              <a href="#"><li>Destinations</li></a>
              <a href="#"><li>Blogs</li></a>
              <a href="#"><li>Whats New</li></a>
              <a href="#"><li>Manage Booking</li></a>
              <a href="#"><li>Offers</li></a>
              <a href="#"><li>Guest Policy</li></a>
              <a href="#"><li>Covid Guidelines</li></a>
              <a href="#"><li>Facilities</li></a>
              <a href="#"><li>Media & News</li></a>W
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Partner With Us</li></a>
              <a href="#"><li>Holiday Bonds</li></a>
              <a href="#"><li>FAQs</li></a>
            </ul>
          </div>
        </div>
        <hr />
        <div class="copywrite">
          <ul>
            <a href="#"><li>© 2023 NOMADS HOSTEL</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Grievance Redressal</li></a>
          </ul>
        </div>
      </footer>
    <script src="js/script.js"></script>
</body>
</html>































