<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    <header class="header"id="NavBar">

        <!-- Logo -->
        <div class="logo">
            <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
        </div>

        <!-- Navigation-list -->
        <nav class="nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#"><span>DESTINATIONS <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Delhi</span></a></li>
                                <li><a href="#"><span>Dharmshala</span></a></li>
                                <li><a href="#"><span>Gangtok</span></a></li>
                                <li><a href="#"><span>Goa</span></a></li>
                                <li><a href="#"><span>Ooty</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Hyderabad</span></a></li>
                                <li><a href="#"><span>Jaipur</span></a></li>
                                <li><a href="#"><span>Jaisalmer</span></a></li>
                                <li><a href="#"><span>Jodhpur</span></a></li>
                                <li><a href="#"><span>Pushkar</span></a></li>
                                <li><a href="#"><span>Shreenagar</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Kesar-Devi</span></a></li>
                                <li><a href="#"><span>Leh</span></a></li>
                                <li><a href="#"><span>Mussoorie</span></a></li>
                                <li><a href="#"><span>Nainital</span></a></li>
                                <li><a href="#"><span>Shimla</span></a></li>
                               
                           </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><span>WHAT'S NEW <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaipur1.png" alt="Image">
                            <div class="card-details">  
                            <h2><a href="#">JAIPUR</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaisalmer.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">JAISALMER</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/push.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">PUSHKAR</a></h2>
                            <p>A blend of holiness, tourism, and modernity, Pushkar’s mystic allure is sure..</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="contactUs.html">CONTACT US</a></li>
                <li><span class="button"><button class="">LOGIN</button></span></li>
                <li></li>

            </ul>
        </nav>

        <!-- Navigation for Mobile devices -->
        <nav class="mobile-nav">
            <ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>
                <li><span class="button"><button class="">LOGIN</button></span></li>
            </ul>
            <div id="myNav" class="overlay topnav" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-regular fa-rectangle-xmark"></i></a>
                <div class="overlay-content">
                  <a href="#"><span>HOME</span></a>
                  <a href="#"><span>ABOUT</span></a>
                  <a href="#"><span>DESTINATIONS</span></a>
                  <a href="#"><span>WHAT'S NEW</span></a>
                  <a href="#"><span>BLOG</span></a>
                  <a href="#"><span>CONTACT US</span></a>
                  <a href="#"><span>LOGIN</span></a>
                  <a href="#"><span>FAQs</span></a>
                </div>
              </div>
        </nav>
    </header>
    <!--Post Content-->
    <section class="post-header">
        <div class="header-content post-container">
            <!--Back to blog-->
            
            <h1 class="header-title">Finding paradise wherever I go.</h1>
            <!--Post Image-->
            <img src="../imgBlog/img9.jpg" alt="" class="header-img">
        </div>
    </section>
   
    <!--posts-->
    <section class="post-content post-container">
       <h2 class="sub-heading">1.The Ridge Road</h2>
       <br>
       <h4 class="sub">9 feb 2023(By Himanshi)</h>
       <h5 class="sub">Timing: (24 Hours)</h5>
       <p class="post-text">The Ridge road is a large open space, located in the center of Shimla, the capital city of Himachal Pradesh, India. The Ridge is the hub of all cultural activities of Shimla. It is situated along the Mall Road, which is the famous shopping center of Shimla. Most major places of Shimla like Sanjauli Snowdown (IGMC), Mall Road, Jakhu Temple, Oakover, Kali Bari, Annadale, etc. are connected through the Ridge.

        It runs east to west alongside the Mall Road, and joins it at the Scandal Point on the west side. On the east side, The Ridge road leads to Lakkar Bazaar, a wooden crafts market. It's the major landmark and the most easily recognized face of the hill station. When winter sets in and when the country had its first major snowfall of the year, most newspapers printed photos of the ridge submerged in clumps of fresh snow</p>
       
       <img src="../imgBlog/himachal1.jpg" alt="" class="header-img">
       <h2 class="sub-heading">2.Triund trek</h2>
       <br>
       <h4 class="sub">14 feb 2023(By Komal)</h4>
       <h5 class="sub">Timing: 12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">The Triund trek in the Himalayas is a relatively easy and popular trail, offering stunning views of the snow-covered Dhauladhar ranges and Kangra Valley. It's the best option for those seeking a hassle-free trek in the region. The trail's end has a steep climb, but the route is short.

        Triund is considered one of the most popular treks in India. The vast expanse of the Triund top boasts lush green grass and deodar, oak, pine, and Rhododendron forests, making it an ideal destination for nature lovers. Whether you prefer a warm summer or snowy winter, the trek is open throughout the year, except during the monsoon season.
        </p>
       <h4 class="sub">Triund Trek Difficulty Level</h4>
      <p class="post-text">The trek involves gradual to steep ascents that even amateurs can cover. And since the Mcleodganj to Triund distance is not much, it is not very exhausting either. The first 5 km of the Triund trek are simple and not very undulating. Thereon, the Triund trek route gets steep and requires a sturdy walk. This stretch is popularly known as 22 curves because of the 22 sharp curves en route.

        However, if you are trekking during winters, the trek becomes slightly difficult due to the presence of snow on the otherwise firm and well-defined path.</p>
        <br>
       <img src="../imgBlog/himachal2.jpg" alt="" class="header-img">
       <h2 class="sub-heading">3.The Kangra Fort</h2>
       <br>
       <h4 class="sub">22 feb 2023(By Ram)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">The Kangra Fort was built by the royal Rajput family of Kangra State (the Katoch dynasty), which traces its origins to the ancient Trigarta Kingdom, mentioned in the Mahabharata epic. It is the largest fort in the Himalayas and probably the oldest dated fort in India. The fort of Kangra resisted Akbar’s siege in 1615. However, Akbar’s son Jehangir successfully subdued the fort in 1620, forcing the submission of the Raja of Chamba, “the greatest of all the rajas in the region”.[1] Mughal Emperor Jahangir with the help of Suraj Mal garrisoned with his troops.

        The Katoch Kings repeatedly looted Mughal controlled regions, weakening the Mughal control and with the decline of Mughal power, Raja Sansar Chand-II succeeded in recovering the ancient fort of his ancestors, in 1789. Maharaja Sansar Chand fought multiple battles with Gurkhas on one side and Sikh King Maharaja Ranjit Singh on the other. </p>
       <h4 class="sub">The Gates of Kangra Fort</h4>
       <p class="post-text" >Every gate of the fort has a story behind it. The fort has a total of 11 gates and 23 bastions. The first gate known as the Ranjit Singh Gate was built by Maharaja Ranjit Singh of Punjab who wanted to celebrate his victory over the majestic fort. He added another gate named after him to further strengthen the defenses of the fort. </p>
       <h4 class="sub">The remains of the temples</h4>
       <p class="post-text">The next gate with statues of Goddess Ganga and Yamuna on either side welcomes you into the large courtyard. The sight of the ruins is bound to make you wonder how grand the view would have been when the magnificent temples would have stood in all their glory. The L shaped structures on the right side look like rooms however some of them are in shambles. Crossing the courtyard, a flight of steps goes above to what would have been the palace once upon a time. But before you move ahead do spend some time amidst the temple ruins and who knows what secret you may unravel.</p>
       <br>
       <img src="../imgBlog/himachal3.jpg" alt="" class="header-img">
       <h2 class="sub-heading">4.Hidimba Devi Temple</h2>
       <br>
       <h4 class="sub">2 March 2023(By Manish)</h4>
       <h5 class="sub">Timing: 10.30 am-5 pm (Mon-Sun)</h5>
       <p class="post-text">Hidimba Devi Temple, locally known as Dhungari Temple,[1] also known variously as the Hadimba Temple, is located in Manāli, a hill station in the State of Himāchal Pradesh in north India. It is an ancient cave temple dedicated to Hidimbi Devi, wife of Bhima, a figure in the Indian epic Mahābhārata. The temple is surrounded by a cedar forest called Dhungiri Van Vihar at the foot of the Himālayas. The sanctuary is built over a huge rock jutting out of the ground which was worshiped as an image of the deity. The structure was built in 1553 by Maharaja Bahadur Singh.[2]

        The Hidimba Devi temple is 24 meters tall.</p>
    </section>
    <!--share-->
  
    <!--Footer-->
    <footer>
        <div class="footer-head">

            <div class="hotel-name">
                <a href="#">
                    <div class="logo">
                        <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
                    </div>
                 </a> 
            
                <p style="font-weight: bold ;word-spacing: 20px;">- LIVE TRAVEL  EXOLORE -</p>
                <br />
                <p style="line-height: 1.5">The website ends here, but your journey to the remotest destinations in India and Nepal begins with Nomads-Hostel. Explore with our social hostels, homestays, and luxury stays on your next holiday.</p>
                <a href="mailto:centralreservations@pridehotel.com" target="_top" class="email-anchorlink"><br />EMAIL: contact@nomads.com</a>
                
                <div class="social-links">
                    <div>
                        <a href="https://www.facebook.com/ThePrideHotels/" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/thepridehotels/?igshid=1ejp7g2rdcxnu" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/31500086" target="_blank" title="Linkedin" >
                            <i class="fa-brands fa-linkedin-in"></i >
                            </a>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.in/" target="_blank" title="TripAdvisor"> 
                            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

          <div class="hotel-city" style="word-spacing: 6px;">
            <ul>
                <a href="#"><li>KASOL |</li></a>
                <a href="#"><li>DHARMSHALA | </li></a>
                <a href="#"><li>HYDERABAD |</li></a>
                <a href="#"><li>JODHPUR |</li></a>
                <a href="#"><li>CHENNAI |</li></a>
                <a href="#"><li>GANGTOK |</li></a>
                <a href="#"><li>GOA |</li></a>
                <a href="#"><li>HALDWANI |</li></a>
                <a href="#"><li>JAISALMER |</li></a>
                <a href="#"><li>JAIPUR |</li></a>
                <a href="#"><li>KESAR_DEVI |</li></a>
                <a href="#"><li>LEH |</li></a>
                <a href="#"><li>MUSSOORIE |</li></a>
                <a href="#"><li>NAGPUR |</li></a>
                <a href="#"><li>NEW DELHI |</li></a>
                <a href="#"><li>NAINITAL|</li></a>
                <a href="#"><li>PURI |</li></a>
                <a href="#"><li>RANAKPUR |</li></a>
                <a href="#"><li>SASAN GIR |</li></a>
                <a href="#"><li>UDAIPUR</li></a>
            </ul>
          </div>
        </div>
        <hr />

        <div class="footer-foot">
          <div class="footer-foot-menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="about.html"><li>About Us</li></a>
              <a href="#"><li>Destinations</li></a>
              <a href="#"><li>Blogs</li></a>
              <a href="#"><li>Whats New</li></a>
              <a href="#"><li>Manage Booking</li></a>
              <a href="#"><li>Offers</li></a>
              <a href="#"><li>Guest Policy</li></a>
              <a href="#"><li>Covid Guidelines</li></a>
              <a href="#"><li>Facilities</li></a>
              <a href="#"><li>Media & News</li></a>W
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Partner With Us</li></a>
              <a href="#"><li>Holiday Bonds</li></a>
              <a href="#"><li>FAQs</li></a>
            </ul>
          </div>
        </div>
        <hr />
        <div class="copywrite">
          <ul>
            <a href="#"><li>© 2023 NOMADS HOSTEL</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Grievance Redressal</li></a>
          </ul>
        </div>
      </footer>
    <script src="js/script.js"></script>
</body>
</html>































