<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    <header class="header"id="NavBar">

        <!-- Logo -->
        <div class="logo">
            <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
        </div>

        <!-- Navigation-list -->
        <nav class="nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#"><span>DESTINATIONS <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Delhi</span></a></li>
                                <li><a href="#"><span>Dharmshala</span></a></li>
                                <li><a href="#"><span>Gangtok</span></a></li>
                                <li><a href="#"><span>Goa</span></a></li>
                                <li><a href="#"><span>Ooty</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Hyderabad</span></a></li>
                                <li><a href="#"><span>Jaipur</span></a></li>
                                <li><a href="#"><span>Jaisalmer</span></a></li>
                                <li><a href="#"><span>Jodhpur</span></a></li>
                                <li><a href="#"><span>Pushkar</span></a></li>
                                <li><a href="#"><span>Shreenagar</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Kesar-Devi</span></a></li>
                                <li><a href="#"><span>Leh</span></a></li>
                                <li><a href="#"><span>Mussoorie</span></a></li>
                                <li><a href="#"><span>Nainital</span></a></li>
                                <li><a href="#"><span>Shimla</span></a></li>
                               
                           </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><span>WHAT'S NEW <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaipur1.png" alt="Image">
                            <div class="card-details">  
                            <h2><a href="#">JAIPUR</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaisalmer.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">JAISALMER</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/push.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">PUSHKAR</a></h2>
                            <p>A blend of holiness, tourism, and modernity, Pushkar’s mystic allure is sure..</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="contactUs.html">CONTACT US</a></li>
                <li><span class="button"><button class="">LOGIN</button></span></li>
                <li></li>

            </ul>
        </nav>

        <!-- Navigation for Mobile devices -->
        <nav class="mobile-nav">
            <ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>
                <li><span class="button"><button class="">LOGIN</button></span></li>
            </ul>
            <div id="myNav" class="overlay topnav" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-regular fa-rectangle-xmark"></i></a>
                <div class="overlay-content">
                  <a href="#"><span>HOME</span></a>
                  <a href="#"><span>ABOUT</span></a>
                  <a href="#"><span>DESTINATIONS</span></a>
                  <a href="#"><span>WHAT'S NEW</span></a>
                  <a href="#"><span>BLOG</span></a>
                  <a href="#"><span>CONTACT US</span></a>
                  <a href="#"><span>LOGIN</span></a>
                  <a href="#"><span>FAQs</span></a>
                </div>
              </div>
        </nav>
    </header>
    <!--Post Content-->
    <section class="post-header">
        <div class="header-content post-container">
            <!--Back to blog-->
           
            <h1 class="header-title">Uttarakhand the abode of Gods.</h1>
            <!--Post Image-->
            <img src="../imgBlog/uttra1.jpg" alt="" class="header-img">
        </div>
    </section>
   
    <!--posts-->
    <section class="post-content post-container">
       <h2 class="sub-heading">1.KEDARNATH TEMPLE</h2>
       <br>
       <h4 class="sub">2 feb 2023(By Ram)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Kedarnath Dham, located in the Rudraprayag district of Uttarakhand, is one of the most paramount locations for worshipers of Shiva. The air appears to be reverberating with the name of Lord Shiva amid the mighty snow-clad peaks, enchanting meadows and forests of the lower mountain range of Himalayas. Situated in a breathtaking location, near the source of Mandakini River and at the height of 3,584 meters, Kedarnath Dham celebrates the greatness of Lord Shiva. Kedarnath temple is one of the 12 Jyotir Lingams and is also the most important temple among the Panch Kedars (group of 5 Shiva temples in Garhwal Himalayas). It is also one of the significant temples of the sacred Chota Char Dham Yatra in Uttarakhand, raising the glory of the place to further heights.</p>
       <h4 class="sub">Kedarnath – History, Legend and Stories</h4>
       <p class="post-text">Kedarnath also has its fair share of mythologies and legends. There are various versions on the origin of the Kedarnath Temple. While there are claims that the temple was resurrected and built by the great Hindu seer Adi Shankaracharya in the 8th century while others claim that it was built by the Hindu King Raja Bhoj of Malwa in the 2nd century AD. Well, as I said before, there are numerous versions.

        Kedarnath finds mention in the great Hindu epic Mahabharata and this is where the legend of Panch kedar comes in. Did I mention before that Kedarnath is also one of the five (Panch) Kedars, the five holy places of Lord Shiva.</p>
       <br>
       <img src="../imgBlog/uttra1.jpg" alt="" class="header-img">
       <h2 class="sub-heading">2.Hotel Softel Plaza</h2>
       <br>
       <h4 class="sub">12 feb 2023(By Ram)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Offering exceptional comfort & luxury unlike any other place in the town, Hotel Softel Plaza is one of the most subtle and affordable hotels in Dehradun. Its traditional culture with modern style is the reason for it being so popular amongst its guests, and a top pick for travelers.</p>
       <br>
       <img src="../imgBlog/uttra2.jpg" alt="" class="header-img">
       <h2 class="sub-heading">3.Dehradun</h2>
       <br>
       <h4 class="sub">18 feb 2023(By Ram)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">This quaint city in the Doon Valley, with the Himalayas in the background, often finds its way to the list of the must-visit places in Uttarakhand. A clear blue sky, lush green trees and chilly weather will give a hearty welcome here. Once you reach the city, start sightseeing right away. Here are the must-see places! Sahastradhara, Tiger Falls, Tapovan, Lacchiwala, Mindrolling Monastery, Malsi Deer Park and Robber’s Cave!</p>
       <h4 class="sub">Vist the Sahastradhara</h4>
       <p class="post-text">The literal meaning of Sahastradhara is “Thousand fold spring”, located at a distance of 14 Kms from the Dehradun city. This is one of the famous places to visit in Dehradun which is known for its natural caves and waterfalls. Apart from this, Sahastradhara is also known for its medicinal and therapeutic values. Numerous water pools surrounds this place in which the water drips from limestone stalactites, turning into sulphur pools.</p>
       <br>
       <img src="../imgBlog/uttra3.jpg" alt="" class="header-img">
       <h2 class="sub-heading">4.Rishikesh</h2>
       <br>
       <h4>22 feb 2023(By Ram)</h4>
       <h5>Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">The famous yoga capital of the world! Well, it surely justifies its name with the huge number of yoga ashrams and centres it houses. When you are here, you should definitely try your hand at the different types of yoga. But there’s more to this ancient city than yoga. The religious values and the scenic beauty here are fascinating. Talking about sightseeing here, Laxman Jhula, Ram Jhula, Tera Manzil Mandir, Shri Bharat Mandir, Triveni Ghat , the Beatles Ashram, Shivpuri, Neelkanth Mahadev Temple and Jumpin Heights should be on your list.</p>
    <h4 class="sub">yoga capital of the world</h4>
<p class="post-text">If you thought Rishikesh is all about finding your spiritual core and yoga, you’d be just a little left of the truth. Agreed, it has rightly earned its epithet of ‘Yoga Capital of the World’ and is also the most popular starting point of the ‘Chota Char Dham’ pilgrimage for the Hindus but there is a lot more to do in Rishikesh than these. A historic city in the state of Uttarakhand, Rishikesh is a little slice of heaven for the outdoorsy traveler and the thrill-seeker. Want to know what’s in store for you? Know about some of the best things to do in Rishikesh right here:</p>    
</section>
    <!--share-->
   
    <!--Footer-->
    <footer>
        <div class="footer-head">

            <div class="hotel-name">
                <a href="#">
                    <div class="logo">
                        <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
                    </div>
                 </a> 
            
                <p style="font-weight: bold ;word-spacing: 20px;">- LIVE TRAVEL  EXOLORE -</p>
                <br />
                <p style="line-height: 1.5">The website ends here, but your journey to the remotest destinations in India and Nepal begins with Nomads-Hostel. Explore with our social hostels, homestays, and luxury stays on your next holiday.</p>
                <a href="mailto:centralreservations@pridehotel.com" target="_top" class="email-anchorlink"><br />EMAIL: contact@nomads.com</a>
                
                <div class="social-links">
                    <div>
                        <a href="https://www.facebook.com/ThePrideHotels/" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/thepridehotels/?igshid=1ejp7g2rdcxnu" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/31500086" target="_blank" title="Linkedin" >
                            <i class="fa-brands fa-linkedin-in"></i >
                            </a>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.in/" target="_blank" title="TripAdvisor"> 
                            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

          <div class="hotel-city" style="word-spacing: 6px;">
            <ul>
                <a href="#"><li>KASOL |</li></a>
                <a href="#"><li>DHARMSHALA | </li></a>
                <a href="#"><li>HYDERABAD |</li></a>
                <a href="#"><li>JODHPUR |</li></a>
                <a href="#"><li>CHENNAI |</li></a>
                <a href="#"><li>GANGTOK |</li></a>
                <a href="#"><li>GOA |</li></a>
                <a href="#"><li>HALDWANI |</li></a>
                <a href="#"><li>JAISALMER |</li></a>
                <a href="#"><li>JAIPUR |</li></a>
                <a href="#"><li>KESAR_DEVI |</li></a>
                <a href="#"><li>LEH |</li></a>
                <a href="#"><li>MUSSOORIE |</li></a>
                <a href="#"><li>NAGPUR |</li></a>
                <a href="#"><li>NEW DELHI |</li></a>
                <a href="#"><li>NAINITAL|</li></a>
                <a href="#"><li>PURI |</li></a>
                <a href="#"><li>RANAKPUR |</li></a>
                <a href="#"><li>SASAN GIR |</li></a>
                <a href="#"><li>UDAIPUR</li></a>
            </ul>
          </div>
        </div>
        <hr />

        <div class="footer-foot">
          <div class="footer-foot-menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="about.html"><li>About Us</li></a>
              <a href="#"><li>Destinations</li></a>
              <a href="#"><li>Blogs</li></a>
              <a href="#"><li>Whats New</li></a>
              <a href="#"><li>Manage Booking</li></a>
              <a href="#"><li>Offers</li></a>
              <a href="#"><li>Guest Policy</li></a>
              <a href="#"><li>Covid Guidelines</li></a>
              <a href="#"><li>Facilities</li></a>
              <a href="#"><li>Media & News</li></a>W
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Partner With Us</li></a>
              <a href="#"><li>Holiday Bonds</li></a>
              <a href="#"><li>FAQs</li></a>
            </ul>
          </div>
        </div>
        <hr />
        <div class="copywrite">
          <ul>
            <a href="#"><li>© 2023 NOMADS HOSTEL</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Grievance Redressal</li></a>
          </ul>
        </div>
      </footer>
    <script src="js/script.js"></script>
        <!-- <p>&#169; Carpoolvenom All Reserved</p> -->
        <!-- <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div> -->
    </div>
  <!--jquery link-->  
  
</body>
</html>































