<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    <header class="header"id="NavBar">

        <!-- Logo -->
        <div class="logo">
            <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
        </div>

        <!-- Navigation-list -->
        <nav class="nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#"><span>DESTINATIONS <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Delhi</span></a></li>
                                <li><a href="#"><span>Dharmshala</span></a></li>
                                <li><a href="#"><span>Gangtok</span></a></li>
                                <li><a href="#"><span>Goa</span></a></li>
                                <li><a href="#"><span>Ooty</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Hyderabad</span></a></li>
                                <li><a href="#"><span>Jaipur</span></a></li>
                                <li><a href="#"><span>Jaisalmer</span></a></li>
                                <li><a href="#"><span>Jodhpur</span></a></li>
                                <li><a href="#"><span>Pushkar</span></a></li>
                                <li><a href="#"><span>Shreenagar</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Kesar-Devi</span></a></li>
                                <li><a href="#"><span>Leh</span></a></li>
                                <li><a href="#"><span>Mussoorie</span></a></li>
                                <li><a href="#"><span>Nainital</span></a></li>
                                <li><a href="#"><span>Shimla</span></a></li>
                               
                           </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><span>WHAT'S NEW <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaipur1.png" alt="Image">
                            <div class="card-details">  
                            <h2><a href="#">JAIPUR</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaisalmer.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">JAISALMER</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/push.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">PUSHKAR</a></h2>
                            <p>A blend of holiness, tourism, and modernity, Pushkar’s mystic allure is sure..</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="contactUs.html">CONTACT US</a></li>
                <li><span class="button"><button class="">LOGIN</button></span></li>
                <li></li>

            </ul>
        </nav>

        <!-- Navigation for Mobile devices -->
        <nav class="mobile-nav">
            <ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>
                <li><span class="button"><button class="">LOGIN</button></span></li>
            </ul>
            <div id="myNav" class="overlay topnav" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-regular fa-rectangle-xmark"></i></a>
                <div class="overlay-content">
                  <a href="#"><span>HOME</span></a>
                  <a href="#"><span>ABOUT</span></a>
                  <a href="#"><span>DESTINATIONS</span></a>
                  <a href="#"><span>WHAT'S NEW</span></a>
                  <a href="#"><span>BLOG</span></a>
                  <a href="#"><span>CONTACT US</span></a>
                  <a href="#"><span>LOGIN</span></a>
                  <a href="#"><span>FAQs</span></a>
                </div>
              </div>
        </nav>
    </header>
    <!--Post Content-->
    <section class="post-header">
        <div class="header-content post-container">
            <!--Back to blog-->
            
            <h1 class="header-title">The beauty of Goa is like no other.</h1>
            <!--Post Image-->
            <img src="../imgBlog/img2.jpg" alt="" class="header-img">
        </div>
    </section>
   
    <!--posts-->
    <section class="post-content post-container">
       <h2 class="sub-heading">1.North Goa is popular for the lively and touristy beaches</h2>
       <br>
       <h4 class="sub">22 feb 2023(By Komal)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">North Goa is popular for the lively and touristy beaches such as Calangute, Baga, Anjuna, Candolim and Vagator among others. While South Goa houses some of the most secluded and cleanest beaches of Goa such as Palolem, Betalbatim and Betul Beach among others.</p>
       <h4 class="sub">Hike to Dudhsagar Falls</h4>
       <p class="post-text">One of India’s largest waterfalls, Dudhsagar is stowed away on the border of Goa and Karnataka. The trails leading to the cascading waterfall passes through a rich variety of flora and fauna.</p>
      <br>
       <img src="../imgBlog/goa1.jpg" alt="" class="header-img">
       <h2 class="sub-heading">2.visite du sud de Goa</h2>
       <br>
       <h4 class="sub">28 feb 2023(By Himanshi)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Plongez-vous dans l’excellence de Goa dans ce voyage organisé du 2ème jour de Goa. Commencez par un délicieux petit-déjeuner diététique et continuez ensuite pour une visite d’une journée complète du sud de Goa. Traversez les superbes chaînes côtières et visitez des lieux touristiques tels que le sanctuaire Shri Shantadurga à Kavlem, le sanctuaire Shri Manguesh à Priol, la basilique des anciennes églises de Goa de Bom Jesus et la cathédrale Se. Le déjeuner sera servi dans un célèbre restaurant de l’ancienne Goa. Goûtez aux délicieuses cuisines et fruits de mer de Goa. Au fil de la journée, visitez la baie de Dona Paula et la plage de Miramar pour les sports nautiques et terminez l’aventure de la journée par une excursion en bateau sur la rivière Mandovi. Revenez au gîte pour une nuit de repos.</p>
       <h4 class="sub">Une excursion d’une journée complète dans les charmants temples, églises et plages du sud de Goa</h4>
       <p class="post-text"> Goa a vraiment quelque chose ou l’autre à offrir aux voyageurs qui visitent ses côtes. Que vous recherchiez une fête toute la nuit ou que vous essayiez simplement de vous détendre dans une paix et une tranquillité absolues, Goa est l’endroit qu’il vous faut. Et ce n’est qu’un bonus que la cuisine proposée ici ne manquera pas de vous faire perdre les genoux. Et puisque l’itinéraire est parfait pour explorer l’ensemble de l’État en une seule fois, vous pouvez être assuré que vous êtes sur la bonne voie pour passer les meilleures vacances de votre vie. Alors n’hésitez plus et consultez notre plan de voyage à Goa pendant 5 jours et commencez à planifier vos vacances dès maintenant!</p>
       <br>
       <img src="../imgBlog/goa2.jpg" alt="" class="header-img">
       <h2 class="sub-heading">3.Plantations d’épices</h2>
       <br>
       <h4 class="sub">4 March 2023(By Ram)</h>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Goa regorge de diverses plantations d’épices où vous pouvez voir comment les épices sont cultivées et transformées dans leur environnement naturel. C’est en effet l’une des meilleures expériences à tenter lors d’un voyage à Goa. Il existe diverses visites divertissantes organisées par diverses plantations. De plus, un guide vous aidera à découvrir plusieurs types d’épices et leur meilleure utilisation.

        Que vous voyagiez avec votre famille ou avec votre moitié, vous pouvez sûrement profiter de cette excursion de 4 nuits et 5 jours à Goa au départ de Bangalore. Nos experts en voyages ont spécialement conçu et personnalisé ces forfaits Goa au départ de Bangalore pour vous assurer non seulement de passer de bonnes vacances, mais aussi des vacances absolument fluides et sans tracas.</p>
       
       <br>
        <img src="../imgBlog/goa3.jpg" alt="" class="header-img">
        <h2 class="sub-heading">4.Excursion aux Chutes de Dudhsagar et aux plantations d’épices</h2>
        <br>
        <h4 class="sub">10 March 2023(By Manish)</h4>
        <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
        <p class="post-text">Après le petit-déjeuner, dirigez-vous vers les magnifiques et puissantes Chutes de Dudhsagar et rendez le troisième jour de votre voyage à Goa amusant. Vous pouvez faire une randonnée jusqu’aux chutes et nourrir les singes sur ce sentier d’aventure. En revenant, vous pourrez profiter d’une promenade paisible dans les plantations d’épices et vous perdre dans l’arôme magique des épices. Alors que le troisième jour de vos vacances à Goa touche à sa fin, vous retournez à l’hôtel pour passer une nuit confortable.</p>
       <h4 class="sub">Il est temps de rentrer à la maison de Goa</h4>     
        <p class="post-text">Commencez votre deuxième journée en profitant d’une visite guidée des dauphins. Réveillez-vous tôt le matin et partez observer de magnifiques dauphins vous divertir avec leurs incroyables sauts périlleux sur la majestueuse mer d’Oman. Ensuite, retournez à votre hôtel pour un copieux petit-déjeuner. Une fois votre petit-déjeuner terminé, il est temps d’explorer tous les sites touristiques populaires du nord de Goa. Nous commençons par visiter Fort Aguada, puis nous nous rendrons sur toutes les plages populaires du nord de Goa, notamment La Plage de Coco, La Plage de Baga, La Plage d’Anjuna et La Plage de Calangute. Vous pouvez également passer du temps à l’annexe de Calangute.</p>
    </section>
    <!--share-->
    <div class="share post-container">
        <span class="share-title">Share this artical</span>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>
    <!--Footer-->
    <footer>
        <div class="footer-head">

            <div class="hotel-name">
                <a href="#">
                    <div class="logo">
                        <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
                    </div>
                 </a> 
            
                <p style="font-weight: bold ;word-spacing: 20px;">- LIVE TRAVEL  EXOLORE -</p>
                <br />
                <p style="line-height: 1.5">The website ends here, but your journey to the remotest destinations in India and Nepal begins with Nomads-Hostel. Explore with our social hostels, homestays, and luxury stays on your next holiday.</p>
                <a href="mailto:centralreservations@pridehotel.com" target="_top" class="email-anchorlink"><br />EMAIL: contact@nomads.com</a>
                
                <div class="social-links">
                    <div>
                        <a href="https://www.facebook.com/ThePrideHotels/" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/thepridehotels/?igshid=1ejp7g2rdcxnu" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/31500086" target="_blank" title="Linkedin" >
                            <i class="fa-brands fa-linkedin-in"></i >
                            </a>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.in/" target="_blank" title="TripAdvisor"> 
                            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

          <div class="hotel-city" style="word-spacing: 6px;">
            <ul>
                <a href="#"><li>KASOL |</li></a>
                <a href="#"><li>DHARMSHALA | </li></a>
                <a href="#"><li>HYDERABAD |</li></a>
                <a href="#"><li>JODHPUR |</li></a>
                <a href="#"><li>CHENNAI |</li></a>
                <a href="#"><li>GANGTOK |</li></a>
                <a href="#"><li>GOA |</li></a>
                <a href="#"><li>HALDWANI |</li></a>
                <a href="#"><li>JAISALMER |</li></a>
                <a href="#"><li>JAIPUR |</li></a>
                <a href="#"><li>KESAR_DEVI |</li></a>
                <a href="#"><li>LEH |</li></a>
                <a href="#"><li>MUSSOORIE |</li></a>
                <a href="#"><li>NAGPUR |</li></a>
                <a href="#"><li>NEW DELHI |</li></a>
                <a href="#"><li>NAINITAL|</li></a>
                <a href="#"><li>PURI |</li></a>
                <a href="#"><li>RANAKPUR |</li></a>
                <a href="#"><li>SASAN GIR |</li></a>
                <a href="#"><li>UDAIPUR</li></a>
            </ul>
          </div>
        </div>
        <hr />

        <div class="footer-foot">
          <div class="footer-foot-menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="about.html"><li>About Us</li></a>
              <a href="#"><li>Destinations</li></a>
              <a href="Blog.html"><li>Blogs</li></a>
              <a href="#"><li>Whats New</li></a>
              <a href="#"><li>Manage Booking</li></a>
              <a href="#"><li>Offers</li></a>
              <a href="#"><li>Guest Policy</li></a>
              <a href="#"><li>Covid Guidelines</li></a>
              <a href="#"><li>Facilities</li></a>
              <a href="#"><li>Media & News</li></a>W
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Partner With Us</li></a>
              <a href="#"><li>Holiday Bonds</li></a>
              <a href="#"><li>FAQs</li></a>
            </ul>
          </div>
        </div>
        <hr />
        <div class="copywrite">
          <ul>
            <a href="#"><li>© 2023 NOMADS HOSTEL</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Grievance Redressal</li></a>
          </ul>
        </div>
      </footer>
    <script src="js/script.js"></script>
        <!-- <p>&#169; Carpoolvenom All Reserved</p> -->
        <!-- <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div> -->
    </div>
  <!--jquery link-->  
 
</body>
</html>































