<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    <header class="header"id="NavBar">

        <!-- Logo -->
        <div class="logo">
            <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
        </div>

        <!-- Navigation-list -->
        <nav class="nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#"><span>DESTINATIONS <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Delhi</span></a></li>
                                <li><a href="#"><span>Dharmshala</span></a></li>
                                <li><a href="#"><span>Gangtok</span></a></li>
                                <li><a href="#"><span>Goa</span></a></li>
                                <li><a href="#"><span>Ooty</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Hyderabad</span></a></li>
                                <li><a href="#"><span>Jaipur</span></a></li>
                                <li><a href="#"><span>Jaisalmer</span></a></li>
                                <li><a href="#"><span>Jodhpur</span></a></li>
                                <li><a href="#"><span>Pushkar</span></a></li>
                                <li><a href="#"><span>Shreenagar</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Kesar-Devi</span></a></li>
                                <li><a href="#"><span>Leh</span></a></li>
                                <li><a href="#"><span>Mussoorie</span></a></li>
                                <li><a href="#"><span>Nainital</span></a></li>
                                <li><a href="#"><span>Shimla</span></a></li>
                               
                           </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><span>WHAT'S NEW <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaipur1.png" alt="Image">
                            <div class="card-details">  
                            <h2><a href="#">JAIPUR</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaisalmer.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">JAISALMER</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/push.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">PUSHKAR</a></h2>
                            <p>A blend of holiness, tourism, and modernity, Pushkar’s mystic allure is sure..</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="contactUs.html">CONTACT US</a></li>
                <li><span class="button"><button class="">LOGIN</button></span></li>
                <li></li>

            </ul>
        </nav>

        <!-- Navigation for Mobile devices -->
        <nav class="mobile-nav">
            <ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>
                <li><span class="button"><button class="">LOGIN</button></span></li>
            </ul>
            <div id="myNav" class="overlay topnav" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-regular fa-rectangle-xmark"></i></a>
                <div class="overlay-content">
                  <a href="#"><span>HOME</span></a>
                  <a href="#"><span>ABOUT</span></a>
                  <a href="#"><span>DESTINATIONS</span></a>
                  <a href="#"><span>WHAT'S NEW</span></a>
                  <a href="#"><span>BLOG</span></a>
                  <a href="#"><span>CONTACT US</span></a>
                  <a href="#"><span>LOGIN</span></a>
                  <a href="#"><span>FAQs</span></a>
                </div>
              </div>
        </nav>
    </header>
    <!--Post Content-->
    <section class="post-header">
        <div class="header-content post-container">
            <!--Back to blog-->
            
            <h1 class="header-title">Madhya Pradesh is the second-largest state in India </h1>
            <!--Post Image-->
            <img src="../imgBlog/img8.jpg" alt="" class="header-img">
        </div>
    </section>
   
    <!--posts-->
    <section class="post-content post-container">
       <h2 class="sub-heading">1.Rajwada Palace</h2>
       <br>
       <h4 class="sub">9 feb 2023(By Himanshi)</h4>
       <h5 class="sub">Timing: 9.30 am-5 pm (Mon-Sun)</h5>
       <p class="post-text">Rajwada, also known as the Holkar Palace or Old Palace, is an important historical palace in Indore that was constructed by the Holkars of the Maratha empire, around 2 centuries ago. An example of the fine architectural skill and magnificence of those times, the palace is an impressive 7 storey structure that is placed near the Holkar Chhatris. One of the popular tourist attractions of Indore, Rajwada Palace is one of the oldest structures too. The construction of the palace was started by Malhar Rao Holkar, the founder of Holkar Dynasty in the year 1747 A.D. This remarkable structure is placed in Khajuri Bazaar, right in the middle of the city. The Rajwada palace has the Shiv Vilas Palace on the right (New Palace) and faces a well-maintained garden that has a statue of Maharani Ahilya Bai Holkar, fountains and an artificial waterfall</p>
      <h4 class="sub">Walking around Rajwada Palace</h4>
      <p class="post-text">The bottom three floors are built in stone and painted brown while the top three floors are made of wood and painted a lighter shade with traces of white. It is prone to fire hazards due to the wooden structure and in the history of the palace it has been burnt down 3 times, the last being in 1984. Subsequently, it has been rebuilt and now the inner hall and courtyard is used to hold meetings and concerts. There is a small museum on the upper floor which is less of a museum and more like a show case of the Holkar Dynasty. The display of different swords caught my attention. After a quick walk through of the entire place, I sat on the steps in the courtyard, soaking in the quiet while a few yards away, the market was noisy as ever and I was anxious for the famous Indore snacks !!</p>
       
       <h4 class="sub">About The Walk</h4>
       <p class="post-text">In 1747, Malhar Rao Holkar I started the construction of the Rajwada at the site of the existing Hakimwada. The word Hah‐ Keem in Arabic means, a ruler, a governor or judge. This seven-storied structure is a fine example of royal grandeur and exceptional architectural skills.

        The architecture of this building is a mix of Maratha, Mughal and French style. When we observe its southern portion, we will notice the impression of Mughal architectural style while the eastern part reflects a European style. The Darbar Hall, Rani Ahilya Throne, and Ganesha Hall were developed in French style. The monument is made up of gopura stone and has a wooden structure.
        
        The upper</p>
       <br>
       <img src="../imgBlog/mp1.jpg" alt="" class="header-img">
       <h2 class="sub-heading">2.Mahakaleshwar Jyotirlinga</h2>
       <br>
       <h4 class="sub">14 feb 2023(By Komal)</h>
       <h5 class="sub">Timing: 12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Mahakaleshwar Jyotirlinga is a Hindu temple dedicated to Shiva and is one of the twelve Jyotirlingas, shrines which are said to be the most sacred abodes of Shiva. It is located in the ancient city of Ujjain in the state of Madhya Pradesh, India. The temple is situated on the side of the holy river Shipra. The presiding deity, Shiva in the lingam form is believed to be Swayambhu, deriving currents of power (Shakti) from within itself as against the other images and lingams that are ritually established and invested with mantra-shakti.

        Madhya Pradesh has two Jyotirlingas, the second one, Omkareshwar Jyotirlinga, is situated about 140 km south of Mahakaleshwar Jyotirlinga.</p>
      <br>
       <img src="../imgBlog/mp2.jpg" alt="" class="header-img">
       <h2 class="sub-heading">3.kanha national park</h2>
       <br>
       <h4 class="sub">22 feb 2023(By Ram)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Kanha Tiger Reserve, also called Kanha National Park, is one of the tiger reserves of India and the largest national park of Madhya Pradesh, state in the heart of India. The present-day Kanha area is divided into two sanctuaries, Hallon and Banjar, of 250 and 300 km2 respectively. Kanha National Park was created on 1 June 1955 and in 1973 was made the Kanha Tiger Reserve. Today it stretches over an area of 940 km2 in the two districts Mandla and Balaghat.

        The park has a significant population of the Royal Bengal tiger, Indian leopards, the sloth bear, barasingha and Indian wild dog. The forest depicted in the famous novel by Rudyard Kipling, The Jungle Book is based on jungles including this reserve. It is also the first tiger reserve in India to officially introduce a mascot, “Bhoorsingh the Barasingha”.</p>
      <h4 class="sub">Best way to reach Kanha</h4>
      <p class="post-text">Though Nagpur is an international airport and has well connected flights worldwide, Jabalpur serves as a better option for people flying down from Delhi. Nagpur is a good option for people boarding flight from Mumbai & Bangalore while Raipur is a convenient option for people boarding flight from Kolkata.</p>
      <h4 class="sub">Wildlife Safari</h4>
      <p>Safari tickets can be booked online through the website: mponline.gov.in. You can also book the tickets through the resort in which you are going to stay. The entry tickets can also be collected from the booking window at the entrance gate of the National Park. Additional expenses such as booking charges, park rates, guide fees etc are termed under the additional expenses other than the entry tickets.</p>  
      <br>
       <img src="../imgBlog/mp3.jpg" alt="" class="header-img">
       <h2 class="sub-heading">4.Khajuraho temples</h2>
       <br>
       <h4 class="sub">2 March 2023(By Manish)</h4>
       <h5 class="sub">Timing: 10.30 am-5 pm (Mon-Sun)</h5>
       <p class="post-text">The Khajuraho Group of Monuments are a group of Hindu and Jain temples in Chhatarpur district, Madhya Pradesh, India. They are about 175 kilometers southeast of Jhansi, 10km from Azad Nagar Khajwa, 9km from Rajnagar and 49 km from district headquarter Chhatarpur. They are a UNESCO World Heritage Site.[1][2] The temples are famous for their nagara-style architectural symbolism and a few erotic sculptures.[3]

        Most Khajuraho temples were built between 885 CE and 1000 CE by the Chandela dynasty.[4][5] Historical records note that the Khajuraho temple site had 85 temples by the 12th century, spread over 20 square kilometers. Of these, only about 25 temples have survived, spread over six square kilometers.[2] Of the surviving temples, the Kandariya Mahadeva Temple is decorated with a profusion of sculptures with intricate details, symbolism and expressiveness of ancient Indian art.[6] The temple complex was forgotten and overgrown by the jungle until 1838 when Captain T.S. Burt, a British engineer, visited the complex and reported his findings in the Journal of the Asiatic Society of Bengal.</p>
    </section>
    <!--share-->
   
    <!--Footer-->
    <footer>
        <div class="footer-head">

            <div class="hotel-name">
                <a href="#">
                    <div class="logo">
                        <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
                    </div>
                 </a> 
            
                <p style="font-weight: bold ;word-spacing: 20px;">- LIVE TRAVEL  EXOLORE -</p>
                <br />
                <p style="line-height: 1.5">The website ends here, but your journey to the remotest destinations in India and Nepal begins with Nomads-Hostel. Explore with our social hostels, homestays, and luxury stays on your next holiday.</p>
                <a href="mailto:centralreservations@pridehotel.com" target="_top" class="email-anchorlink"><br />EMAIL: contact@nomads.com</a>
                
                <div class="social-links">
                    <div>
                        <a href="https://www.facebook.com/ThePrideHotels/" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/thepridehotels/?igshid=1ejp7g2rdcxnu" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/31500086" target="_blank" title="Linkedin" >
                            <i class="fa-brands fa-linkedin-in"></i >
                            </a>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.in/" target="_blank" title="TripAdvisor"> 
                            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

          <div class="hotel-city" style="word-spacing: 6px;">
            <ul>
                <a href="#"><li>KASOL |</li></a>
                <a href="#"><li>DHARMSHALA | </li></a>
                <a href="#"><li>HYDERABAD |</li></a>
                <a href="#"><li>JODHPUR |</li></a>
                <a href="#"><li>CHENNAI |</li></a>
                <a href="#"><li>GANGTOK |</li></a>
                <a href="#"><li>GOA |</li></a>
                <a href="#"><li>HALDWANI |</li></a>
                <a href="#"><li>JAISALMER |</li></a>
                <a href="#"><li>JAIPUR |</li></a>
                <a href="#"><li>KESAR_DEVI |</li></a>
                <a href="#"><li>LEH |</li></a>
                <a href="#"><li>MUSSOORIE |</li></a>
                <a href="#"><li>NAGPUR |</li></a>
                <a href="#"><li>NEW DELHI |</li></a>
                <a href="#"><li>NAINITAL|</li></a>
                <a href="#"><li>PURI |</li></a>
                <a href="#"><li>RANAKPUR |</li></a>
                <a href="#"><li>SASAN GIR |</li></a>
                <a href="#"><li>UDAIPUR</li></a>
            </ul>
          </div>
        </div>
        <hr />

        <div class="footer-foot">
          <div class="footer-foot-menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="about.html"><li>About Us</li></a>
              <a href="#"><li>Destinations</li></a>
              <a href="#"><li>Blogs</li></a>
              <a href="#"><li>Whats New</li></a>
              <a href="#"><li>Manage Booking</li></a>
              <a href="#"><li>Offers</li></a>
              <a href="#"><li>Guest Policy</li></a>
              <a href="#"><li>Covid Guidelines</li></a>
              <a href="#"><li>Facilities</li></a>
              <a href="#"><li>Media & News</li></a>W
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Partner With Us</li></a>
              <a href="#"><li>Holiday Bonds</li></a>
              <a href="#"><li>FAQs</li></a>
            </ul>
          </div>
        </div>
        <hr />
        <div class="copywrite">
          <ul>
            <a href="#"><li>© 2023 NOMADS HOSTEL</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Grievance Redressal</li></a>
          </ul>
        </div>
      </footer>
    <script src="js/script.js"></script>
</body>
</html>































