<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" href="../css/responsive.css">
        <link rel="stylesheet" href="../css/utility.css">
        <script src="https://kit.fontawesome.com/526974c0fb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    <header class="header"id="NavBar">

        <!-- Logo -->
        <div class="logo">
            <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
        </div>

        <!-- Navigation-list -->
        <nav class="nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#"><span>DESTINATIONS <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Delhi</span></a></li>
                                <li><a href="#"><span>Dharmshala</span></a></li>
                                <li><a href="#"><span>Gangtok</span></a></li>
                                <li><a href="#"><span>Goa</span></a></li>
                                <li><a href="#"><span>Ooty</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Hyderabad</span></a></li>
                                <li><a href="#"><span>Jaipur</span></a></li>
                                <li><a href="#"><span>Jaisalmer</span></a></li>
                                <li><a href="#"><span>Jodhpur</span></a></li>
                                <li><a href="#"><span>Pushkar</span></a></li>
                                <li><a href="#"><span>Shreenagar</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Kesar-Devi</span></a></li>
                                <li><a href="#"><span>Leh</span></a></li>
                                <li><a href="#"><span>Mussoorie</span></a></li>
                                <li><a href="#"><span>Nainital</span></a></li>
                                <li><a href="#"><span>Shimla</span></a></li>
                               
                           </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><span>WHAT'S NEW <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaipur1.png" alt="Image">
                            <div class="card-details">  
                            <h2><a href="#">JAIPUR</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaisalmer.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">JAISALMER</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/push.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">PUSHKAR</a></h2>
                            <p>A blend of holiness, tourism, and modernity, Pushkar’s mystic allure is sure..</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="contactUs.html">CONTACT US</a></li>
                <li><span class="button"><button class="">LOGIN</button></span></li>
                <li></li>

            </ul>
        </nav>

        <!-- Navigation for Mobile devices -->
        <nav class="mobile-nav">
            <ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>
                <li><span class="button"><button class="">LOGIN</button></span></li>
            </ul>
            <div id="myNav" class="overlay topnav" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-regular fa-rectangle-xmark"></i></a>
                <div class="overlay-content">
                  <a href="#"><span>HOME</span></a>
                  <a href="#"><span>ABOUT</span></a>
                  <a href="#"><span>DESTINATIONS</span></a>
                  <a href="#"><span>WHAT'S NEW</span></a>
                  <a href="#"><span>BLOG</span></a>
                  <a href="#"><span>CONTACT US</span></a>
                  <a href="#"><span>LOGIN</span></a>
                  <a href="#"><span>FAQs</span></a>
                </div>
              </div>
        </nav>
    </header>
    <!--Post Content-->
    <section class="post-header">
        <div class="header-content post-container">
            <!--Back to blog-->
            
            <h1 class="header-title">I've found my happy place.</h1>
            <!--Post Image-->
            <img src="..//imgBlog/img1.jpg" alt="" class="header-img">
        </div>
    </section>
   
    <!--posts-->
    <section class="post-content post-container">
       <h2 class="sub-heading">1.Places to Visit in Jaipur</h2>
      <br>
       <h4 class="sub">14 Jan 2023(By Komal)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">The Pink City of India, Jaipur is an exotic destination, to say the least. From royal palaces to peppy pubs and from regal forts to plush restaurants, the city offers a fascinating mix of attractions for an avid traveler. And let’s not forget the welcoming vibe of the city, a quality that’s inherent to Rajasthan’s imperial culture and heritage. Even the hotels in Jaipur extend warm hospitality to their guests. When you are in such a warm and vibrant setting, there’s just one thing you should do – soak in the splendor of the city to the hilt.</p>
    <h4 class="sub">Best Time to Visit Jal Mahal</h4>
    <p class="post-text">The rainy season is the best time to visit Jal Mahal when the weather becomes even more pleasant. The rain almost embellishes the look of the sandstone of this palace, making it look quite stunning. People especially prefer visiting Jaipur during October as the weather is extremely pleasant around this time.</p>
    <h4 class="sub">Photography</h4>
    <p class="post-text">Evenings are mostly crowded with tourists. Winter mornings are the best time to photograph if you want to capture the calm lake and sunrise. Jal Mahal is well-lit at night. So, late evenings are also a good time to photograph or get photographed at this spot. What’s more, the use of a tripod is allowed.</p> 
    <br>
    <img src="..//imgBlog/jaipurS.jpg" alt="" class="header-img">
       <h2 class="sub-heading">2.Places to visit in Jaipur for shopping</h2>
       <br>
       <h4 class="sub">19 Jan 2023(By Himanshi)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">The Pink City of Rajasthan, Jaipur is renowned for architectural wonders including royal palaces, forts and temples. However, not many are aware that the capital city is also home to a range of marketplaces, thus making it a shopper’s delight. Famous for a plethora of handcrafted items like traditional jewelry, shoes, wooden souvenirs, textile goods, etc., Jaipur will undoubtedly enhance your shopping experience ten-fold. Following is a list of places to visit in Jaipur where you can shop till you drop:</p>
      <br>
       <img src="..//imgBlog/jaipurAmer.jpg" alt="" class="header-img">
       <h2 class="sub-heading">3.Admire Massive Forts and Palaces</h2>
       <br>
       <h4 class="sub">23 Jan 2023(By Ram)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Amber Fort or Amer Fort is an architectural marvel located on a hill in Amer. The majestic structure is famous for mirror work, and light and music performances held in the evening. Built by Raja Man Singh, the fort served as the main residence of Rajput maharajas for years. Take an elephant ride to the fortress, and you will love the experience.</p>
       <h4 class="sub">A Brief History of the Amer Fort</h4>
       <p class="post-text">Amer is located at a distance of 11 km from Jaipur city. The place was the settlement of the Meenas, a tribal community of Rajasthan and Madhya Pradesh since 967 CE. Later Raja Man Singh I became the ruler of Amer and started rebuilding the fort. Raja Man Singh was one of the Navratnas in the Mughal emperor Akbar’s court. The work was carried on by his descendants and completed by Sawai Jai Singh, who later built the Jaipur city. The Amer Fort has been an opulent residence for the Rajput Maharajas and their families for long. The fort is known for its exquisite Hindu style elements but also has an amalgamation of Hindu and Muslim styles.</p>
       <br>
       <img src="..//imgBlog/jaipurChand.jpg" alt="" class="header-img">
       <h2 class="sub-heading">4.Check Out Other Popular Places</h2>
       <br>
       <h4 class="sub"> 25 Jan 2023(By Manish)</h4>
       <h5 class="sub">Timing:12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Built by King Chanda around the 9th century, Chand Baori is one of the largest stepwells in the world. There are 3500 narrow steps at Chand Baori, leading to the water inside. The baori is 64 feet deep, has 13 floors, and all the steps are arranged symmetrically.</p>
    </section>
    <!--share-->
    
    <!--Footer-->
    <div class="footer container">
        <!-- <p>&#169; Carpoolvenom All Reserved</p> -->
        <!-- <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div> -->
    </div>
  <!--jquery link-->  
  <script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script> 
    <script src="app.js"></script>
    <footer>
        <div class="footer-head">

            <div class="hotel-name">
                <a href="#">
                    <div class="logo">
                        <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
                    </div>
                 </a> 
            
                <p style="font-weight: bold ;word-spacing: 20px;">- LIVE TRAVEL  EXOLORE -</p>
                <br />
                <p style="line-height: 1.5">The website ends here, but your journey to the remotest destinations in India and Nepal begins with Nomads-Hostel. Explore with our social hostels, homestays, and luxury stays on your next holiday.</p>
                <a href="mailto:centralreservations@pridehotel.com" target="_top" class="email-anchorlink"><br />EMAIL: contact@nomads.com</a>
                
                <div class="social-links">
                    <div>
                        <a href="https://www.facebook.com/ThePrideHotels/" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/thepridehotels/?igshid=1ejp7g2rdcxnu" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/31500086" target="_blank" title="Linkedin" >
                            <i class="fa-brands fa-linkedin-in"></i >
                            </a>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.in/" target="_blank" title="TripAdvisor"> 
                            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

          <div class="hotel-city" style="word-spacing: 6px;">
            <ul>
                <a href="#"><li>KASOL |</li></a>
                <a href="#"><li>DHARMSHALA | </li></a>
                <a href="#"><li>HYDERABAD |</li></a>
                <a href="#"><li>JODHPUR |</li></a>
                <a href="#"><li>CHENNAI |</li></a>
                <a href="#"><li>GANGTOK |</li></a>
                <a href="#"><li>GOA |</li></a>
                <a href="#"><li>HALDWANI |</li></a>
                <a href="#"><li>JAISALMER |</li></a>
                <a href="#"><li>JAIPUR |</li></a>
                <a href="#"><li>KESAR_DEVI |</li></a>
                <a href="#"><li>LEH |</li></a>
                <a href="#"><li>MUSSOORIE |</li></a>
                <a href="#"><li>NAGPUR |</li></a>
                <a href="#"><li>NEW DELHI |</li></a>
                <a href="#"><li>NAINITAL|</li></a>
                <a href="#"><li>PURI |</li></a>
                <a href="#"><li>RANAKPUR |</li></a>
                <a href="#"><li>SASAN GIR |</li></a>
                <a href="#"><li>UDAIPUR</li></a>
            </ul>
          </div>
        </div>
        <hr />

        <div class="footer-foot">
          <div class="footer-foot-menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="about.html"><li>About Us</li></a>
              <a href="#"><li>Destinations</li></a>
              <a href="#"><li>Blogs</li></a>
              <a href="#"><li>Whats New</li></a>
              <a href="#"><li>Manage Booking</li></a>
              <a href="#"><li>Offers</li></a>
              <a href="#"><li>Guest Policy</li></a>
              <a href="#"><li>Covid Guidelines</li></a>
              <a href="#"><li>Facilities</li></a>
              <a href="#"><li>Media & News</li></a>W
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Partner With Us</li></a>
              <a href="#"><li>Holiday Bonds</li></a>
              <a href="#"><li>FAQs</li></a>
            </ul>
          </div>
        </div>
        <hr />
        <div class="copywrite">
          <ul>
            <a href="#"><li>© 2023 NOMADS HOSTEL</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Grievance Redressal</li></a>
          </ul>
        </div>
      </footer>
      <script src="js/script.js"></script>
</body>
</html>































