<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    <header class="header"id="NavBar">

        <!-- Logo -->
        <div class="logo">
            <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
        </div>

        <!-- Navigation-list -->
        <nav class="nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#"><span>DESTINATIONS <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Delhi</span></a></li>
                                <li><a href="#"><span>Dharmshala</span></a></li>
                                <li><a href="#"><span>Gangtok</span></a></li>
                                <li><a href="#"><span>Goa</span></a></li>
                                <li><a href="#"><span>Ooty</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Hyderabad</span></a></li>
                                <li><a href="#"><span>Jaipur</span></a></li>
                                <li><a href="#"><span>Jaisalmer</span></a></li>
                                <li><a href="#"><span>Jodhpur</span></a></li>
                                <li><a href="#"><span>Pushkar</span></a></li>
                                <li><a href="#"><span>Shreenagar</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Kesar-Devi</span></a></li>
                                <li><a href="#"><span>Leh</span></a></li>
                                <li><a href="#"><span>Mussoorie</span></a></li>
                                <li><a href="#"><span>Nainital</span></a></li>
                                <li><a href="#"><span>Shimla</span></a></li>
                               
                           </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><span>WHAT'S NEW <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaipur1.png" alt="Image">
                            <div class="card-details">  
                            <h2><a href="#">JAIPUR</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaisalmer.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">JAISALMER</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/push.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">PUSHKAR</a></h2>
                            <p>A blend of holiness, tourism, and modernity, Pushkar’s mystic allure is sure..</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="contactUs.html">CONTACT US</a></li>
                <li><span class="button"><button class="">LOGIN</button></span></li>
                <li></li>

            </ul>
        </nav>

        <!-- Navigation for Mobile devices -->
        <nav class="mobile-nav">
            <ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>
                <li><span class="button"><button class="">LOGIN</button></span></li>
            </ul>
            <div id="myNav" class="overlay topnav" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-regular fa-rectangle-xmark"></i></a>
                <div class="overlay-content">
                  <a href="#"><span>HOME</span></a>
                  <a href="#"><span>ABOUT</span></a>
                  <a href="#"><span>DESTINATIONS</span></a>
                  <a href="#"><span>WHAT'S NEW</span></a>
                  <a href="#"><span>BLOG</span></a>
                  <a href="#"><span>CONTACT US</span></a>
                  <a href="#"><span>LOGIN</span></a>
                  <a href="#"><span>FAQs</span></a>
                </div>
              </div>
        </nav>
    </header>
    <!--Post Content-->
    <section class="post-header">
        <div class="header-content post-container">
            <!--Back to blog-->
           
            <h1 class="header-title">Once through this ruined city did I pass.</h1>
            <!--Post Image-->
            <img src="../imgBlog/img6.jpg" alt="" class="header-img">
        </div>
    </section>
   
    <!--posts-->
    <section class="post-content post-container">
       <h2 class="sub-heading">1.India Gate</h2>
       <br>
       <h4 class="sub">9 feb 2023(By Himanshi)</h4>
       <h5 class="sub">Timing: 9.30 am-5 pm (Sat-Sun)</h5>
       <p class="post-text">India Gate, official name Delhi Memorial, originally called All-India War Memorial, monumental sandstone arch in New Delhi, dedicated to the troops of British India who died in wars fought between 1914 and 1919. India Gate, which is located at the eastern end of the Rajpath (formerly called the Kingsway), is about 138 feet (42 metres) in height.

        India Gate
        India Gate
        India Gate is one of many British monuments built by order of the Imperial War Graves Commission (later renamed Commonwealth War Graves Commission).</p>
      <h4 class="sub">Timings & Season</h4>
      <p class="post-text">You can visit India Gate anytime. There are no restrictions. No fee is charged. I love going to India Gate, sit in the lawns and read a book or just relax. In winters, during December / January months when Delhi is cold to extremes, you will love sitting in the lawns and enjoy Sun. In summer months evenings and night hours are best. India Gate is busiest picnic spot in Delhi during weekends. Schools from Delhi and NCR Region often take children for picnic to India Gate. Also schools and educational institutions from other parts of India and overseas make trip to India Gate every year.</p>
      <h4 class="sub">Travel Tips</h4>
      <p class="post-text">India Gate is a picnic hotspot throughout the year. To me this place is truly healing. You can visit here during anytime of the day or night and in any weather. If you are someone who wishes to give time to yourself, go India gate, pay tribute to brave hearts and meditate in the lush green lawns. Small Children playing in the lawns of India Gate are bound to win appreciation from visitors. Do you have those tiny creatures in your house? Please take them along. They will love playing in the open space.

        You can reach to India Gate through all means of transport i.e. City Bus, Taxi, Personal Car, Bike, Auto Rickshaw or Metro Rail. For visitors coming in personal vehicles parking facility is available. Nearest Metro Station to India Gate is Pragati Maidan. From here either you can walk or take a bus ride, taxi or auto rickshaw to reach to India Gate.</p>  
      <br>
       <img src="../imgBlog/delhi1.jpg" alt="" class="header-img">
       <h2 class="sub-heading">2.Jantar Mantar – World’s Largest Sundial</h2>
       <br>
       <h4 class="sub">14 feb 2023(By Komal)</h4>
       <h5 class="sub">Timing: 12.30 am-5 pm (Sat-Sun)</h5>
       <p class="post-text">Jantar Mantar is located in the modern city of New Delhi. “Jantar Mantar” it means “instruments for measuring the harmony of the heavens”.[1] It consists of 13 architectural astronomy instruments. The site is one of five built by Maharaja Jai Singh II of Jaipur, from 1723 onwards, revising the calendar and astronomical tables. Jai Singh, born in 1688 into a royal Rajput family that ruled the regional kingdom, was born into an era of education that maintained a keen interest in astronomy. There is a plaque fixed on one of the structures in the Jantar Mantar observatory in New Delhi that was placed there in 1910 mistakenly dating the construction of the complex to the year 1710. Later research, though, suggests 1724 as the actual year of construction. Its height is 723 feet (220 m).

        The primary purpose of the observatory was to compile astronomical tables, and to predict the times and movements of the sun, moon and planets. Some of these purposes nowadays would be classified as astronomy.</p>
       <h4 class="sub">Major Attractions Within Jantar Mantar</h4>
       <p class="post-text">The Jantar Mantar observatory in Jaipur comprises of 19 instruments to measure the position and distances of extraterrestrial bodies. These instruments are basically stone structures, depicting interesting geometric shapes. It is advisable to take a local Jantar Mantar, Jaipur guide or an audio guide for a clear understanding of the instruments and how they work.</p> 
       <br>
       <img src="../imgBlog/delhi2.jpg" alt="" class="header-img">
       <h2 class="sub-heading">3.Lodhi Garden</h2>
       <br>
       <h4 class="sub">22 feb 2023(By Ram)</h4>
       <h5 class="sub">Timing: 11.30 am-4 pm (Mon-Sun)</h5>
       <p class="post-text">Lodi Gardens is a city park situated in New Delhi, India. Spread over 90 acres (360,000 m2),[1] it contains Mohammed Shah's Tomb, the Tomb of Sikandar Lodi, the Shisha Gumbad and the Bara Gumbad,[2] architectural works of the 15th century by Lodis - who ruled parts of northern India and Punjab and Khyber Pakhtunkhwa province of modern-day Pakistan, from 1451 to 1526. The site is now protected by the Archaeological Survey of India (ASI).[1]


        Lodi Gardens is popular for exercise and walking enthusiasts
        The gardens are situated between Khan Market and Safdarjung's Tomb on Lodi Road and is a popular spot for morning walks for the Delhites.</p>
      <h4 class="sub">Lodhi Gardens Architecture</h4>
      <p class="post-text">Lodhi Gardens cover an area of over 90 acres and houses many 15th-century structures that display spectacular architectural beauty. The mausoleum of Mohammed Shah features Islamic and Hindu architectural styles. Designed with eight small domed structures or chattris, each adorned with a lotus finial, ornate pinnacles at the corners, a huge central dome, and an octagonal chamber, the tomb is a sight to behold. </p>
      <h4 class="sub">Things to See in Lodhi Gardens</h4>

      <p class="post-text">Lodi Gardens in Delhi is an awesome place to spend some time in a historical setting. Once you are done exploring the attractions within the park, head out to the nearby Khan Market and shop to your heart’s content. The Lodi- the Garden Restaurant, situated near Gate No. 1 is an added attraction where you can enjoy a sumptuous alfresco dinner</p> 
      <br>
       <img src="../imgBlog/delhi3.jpg" alt="" class="header-img">
       <h2 class="sub-heading">4.hanuman mandir</h2>
       <br>
       <h4 class="sub">2 March 2023(By Manish)</h4>
       <h5 class="sub">Timing: 10.30 am-5 pm (Mon-Sun)</h5>
       <p class="post-text">Hanuman Temple in Connaught Place, New Delhi, India, is an ancient Hindu temple and is claimed to be one of the five temples of Mahabharata days in Delhi. The other four temples are the Kalkaji, a Kali temple in South Delhi containing Swayambu (Sanskrit: "self manifest") rock Idol, the Yogmaya Temple near Qutub Minar, the Bhairav temple near the Purana Qila and the Nili Chatri Mahadev (Shiva temple) at Nigambodh Ghat outside the walls of Old Delhi.[2][3][4]

        The temple, which has a self manifest idol of Hanuman, has an unusual feature fixed in the spire (Shikhara) in the form of a crescent moon instead of the Hindu symbol of Aum or Sun that is commonly seen in most Hindu temples. This became particularly important during the Mughal period corroborating this extraordinary depiction.[2]
        
        The idol in the temple, devotionally worshipped as "Sri Hanuman Ji Maharaj" (Great Lord Hanuman), is that of Bala Hanuman namely, Hanuman as a child.</p>
    </section>
    <!--share-->
    
    <!--Footer-->
    <footer>
        <div class="footer-head">

            <div class="hotel-name">
                <a href="#">
                    <div class="logo">
                        <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
                    </div>
                 </a> 
            
                <p style="font-weight: bold ;word-spacing: 20px;">- LIVE TRAVEL  EXOLORE -</p>
                <br />
                <p style="line-height: 1.5">The website ends here, but your journey to the remotest destinations in India and Nepal begins with Nomads-Hostel. Explore with our social hostels, homestays, and luxury stays on your next holiday.</p>
                <a href="mailto:centralreservations@pridehotel.com" target="_top" class="email-anchorlink"><br />EMAIL: contact@nomads.com</a>
                
                <div class="social-links">
                    <div>
                        <a href="https://www.facebook.com/ThePrideHotels/" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/thepridehotels/?igshid=1ejp7g2rdcxnu" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/31500086" target="_blank" title="Linkedin" >
                            <i class="fa-brands fa-linkedin-in"></i >
                            </a>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.in/" target="_blank" title="TripAdvisor"> 
                            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

          <div class="hotel-city" style="word-spacing: 6px;">
            <ul>
                <a href="#"><li>KASOL |</li></a>
                <a href="#"><li>DHARMSHALA | </li></a>
                <a href="#"><li>HYDERABAD |</li></a>
                <a href="#"><li>JODHPUR |</li></a>
                <a href="#"><li>CHENNAI |</li></a>
                <a href="#"><li>GANGTOK |</li></a>
                <a href="#"><li>GOA |</li></a>
                <a href="#"><li>HALDWANI |</li></a>
                <a href="#"><li>JAISALMER |</li></a>
                <a href="#"><li>JAIPUR |</li></a>
                <a href="#"><li>KESAR_DEVI |</li></a>
                <a href="#"><li>LEH |</li></a>
                <a href="#"><li>MUSSOORIE |</li></a>
                <a href="#"><li>NAGPUR |</li></a>
                <a href="#"><li>NEW DELHI |</li></a>
                <a href="#"><li>NAINITAL|</li></a>
                <a href="#"><li>PURI |</li></a>
                <a href="#"><li>RANAKPUR |</li></a>
                <a href="#"><li>SASAN GIR |</li></a>
                <a href="#"><li>UDAIPUR</li></a>
            </ul>
          </div>
        </div>
        <hr />

        <div class="footer-foot">
          <div class="footer-foot-menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="about.html"><li>About Us</li></a>
              <a href="#"><li>Destinations</li></a>
              <a href="#"><li>Blogs</li></a>
              <a href="#"><li>Whats New</li></a>
              <a href="#"><li>Manage Booking</li></a>
              <a href="#"><li>Offers</li></a>
              <a href="#"><li>Guest Policy</li></a>
              <a href="#"><li>Covid Guidelines</li></a>
              <a href="#"><li>Facilities</li></a>
              <a href="#"><li>Media & News</li></a>W
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Partner With Us</li></a>
              <a href="#"><li>Holiday Bonds</li></a>
              <a href="#"><li>FAQs</li></a>
            </ul>
          </div>
        </div>
        <hr />
        <div class="copywrite">
          <ul>
            <a href="#"><li>© 2023 NOMADS HOSTEL</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Grievance Redressal</li></a>
          </ul>
        </div>
      </footer>
    <script src="js/script.js"></script>
</body>
</html>































