<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    <header class="header"id="NavBar">

        <!-- Logo -->
        <div class="logo">
            <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
        </div>

        <!-- Navigation-list -->
        <nav class="nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#"><span>DESTINATIONS <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Delhi</span></a></li>
                                <li><a href="#"><span>Dharmshala</span></a></li>
                                <li><a href="#"><span>Gangtok</span></a></li>
                                <li><a href="#"><span>Goa</span></a></li>
                                <li><a href="#"><span>Ooty</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Hyderabad</span></a></li>
                                <li><a href="#"><span>Jaipur</span></a></li>
                                <li><a href="#"><span>Jaisalmer</span></a></li>
                                <li><a href="#"><span>Jodhpur</span></a></li>
                                <li><a href="#"><span>Pushkar</span></a></li>
                                <li><a href="#"><span>Shreenagar</span></a></li>
                               
                           </ul>
                        </div>
                        <div class="dropdown-lists">
                            <ul>
                                <li><a href="#"><span>Kesar-Devi</span></a></li>
                                <li><a href="#"><span>Leh</span></a></li>
                                <li><a href="#"><span>Mussoorie</span></a></li>
                                <li><a href="#"><span>Nainital</span></a></li>
                                <li><a href="#"><span>Shimla</span></a></li>
                               
                           </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"><span>WHAT'S NEW <i class="fa fa-angle-down"></i></span></a>
                    <div class="dropdown-content">
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaipur1.png" alt="Image">
                            <div class="card-details">  
                            <h2><a href="#">JAIPUR</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/jaisalmer.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">JAISALMER</a></h2>
                            <p>Jaisalmer is golden in the most profound sense, with the colour reflecting in its...</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                        <div class="card">
                            <span class="type">New Lauch</span>
                            <img src="image/Home_destination/push.png" alt="Image">
                            <div class="card-details">
                            <h2><a href="#">PUSHKAR</a></h2>
                            <p>A blend of holiness, tourism, and modernity, Pushkar’s mystic allure is sure..</p>
                            <button class="button">Know-More</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="contactUs.html">CONTACT US</a></li>
                <li><span class="button"><button class="">LOGIN</button></span></li>
                <li></li>

            </ul>
        </nav>

        <!-- Navigation for Mobile devices -->
        <nav class="mobile-nav">
            <ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>
                <li><span class="button"><button class="">LOGIN</button></span></li>
            </ul>
            <div id="myNav" class="overlay topnav" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa-regular fa-rectangle-xmark"></i></a>
                <div class="overlay-content">
                  <a href="#"><span>HOME</span></a>
                  <a href="#"><span>ABOUT</span></a>
                  <a href="#"><span>DESTINATIONS</span></a>
                  <a href="#"><span>WHAT'S NEW</span></a>
                  <a href="#"><span>BLOG</span></a>
                  <a href="#"><span>CONTACT US</span></a>
                  <a href="#"><span>LOGIN</span></a>
                  <a href="#"><span>FAQs</span></a>
                </div>
              </div>
        </nav>
    </header>
    <!--Post Content-->
    <section class="post-header">
        <div class="header-content post-container">
            <!--Back to blog-->
            
            <h1 class="header-title">Everyone Loves Mumbai</h1>
            <!--Post Image-->
            <img src="../imgBlog/img7.jpg" alt="" class="header-img">
        </div>
    </section>
   
    <!--posts-->
    <section class="post-content post-container">
       <h2 class="sub-heading">1.GATEWAY OF INDIA</h2>
       <br>
       <h4 class="sub">9 feb 2023(By Himanshi)</h4>
       <h5 class="sub">Timing: 9.30 am-5 pm (Sat-Sun)</h5>
       <p class="post-text">The Gateway of India is an arch monument built during the 20th century in Bombay, India. The monument was erected to commemorate the landing of King George V and Queen Mary at Apollo Bunder on their visit to India in 1911.

        Built in Indo-Saracenic style, the foundation stone for the Gateway of India was laid on 31 March 1911. The structure is an arch made of basalt, 26 metres (85 feet) high. The final design of George Wittet was sanctioned in 1914 and the construction of the monument was completed in 1924. The Gateway was later used as a symbolic ceremonial entrance to India for Viceroys and the new Governors of Bombay.  It served to allow entry and access to India.</p>
        <h4 class="sub">Timings & Season</h4>
        <p class="post-text">The Gateway of India is open to public at all times of the day and on every day of the week. However, the most pleasant times for a visit happen to be early mornings and evenings. This is when the winds are cooler and the heat of the afternoon is absent. If you visit in the evening, stay until sunset. Not only will you love the view of the sun dissolving into the Arabian Sea, you will also be able to marvel at the beautifully lit form of the gateway. The lighting is switched on only when it is sufficiently dark.</p>
        <h4 class="sub">Click sunrise and sunset pictures</h4>
        <p class="post-text">Gateway of India overlooks the vastly stretched Arabian Sea. The region is highly adored by photographers and nature lovers. If photography is your passion, spare a day off from your hectic schedule and visit Gateway of India early in the morning. From morning till evening, you will have plenty of moments to capture the beautiful transformations of the sky and the shining sea waves. </p>
        <br>
       <img src="../imgBlog/mumbai1.jpg" alt="" class="header-img">
       <h2 class="sub-heading">2.Jehangir Art Gallery</h2>
       <br>
       <h4 class="sub">14 feb 2023(By Komal)</h4>
       <h5 class="sub">Timing: 12.30 am-5 pm (Fri-Sun)</h5>
       <p class="post-text">Jehangir Art Gallery is an art gallery in Mumbai (India). It was founded by Sir Cowasji Jehangir at the urging of K. K. Hebbar and Homi Bhabha. It was built in 1952. Managed by the Committee of Management, the entire cost of this mansion was donated by Cowasji Jehangir. This gallery is situated at Kala Ghoda, behind the Prince of Wales Museum, in South Mumbai near the Gateway of India, and has four exhibition halls. The gallery was designed by G.M.Bhuta for G.M. Bhuta & Associates.[1][citation needed]. The gallery closed for 11 months as a part of the COVID-19 lockdown in India and was partially re-opened on 16 February 2021.</p>
      <h4 class="sub">Feminine fervour</h4>
      <p>But for Arpitha the gods and goddesses  are characters  that come with their own choreography of feminine fervour ; there is something singular about the opportunities that working with canvas provides for her creative process. Appreciating the plastic and technical possibilities of the linear format she creates  works that define the primal elements of godly and earthly characters  to create  magical results. Whether it is the blooming flowers in the garlands, or the lotuses or the kalpavriksha ,the spiritual</p>
      <h4 class="sub">Vasundhara donor of boons</h4>
      <p class="post-text">Vasundhara is a manifestation of Devi, the gracious donor of boons, she blesses devotees with wealth, fortune, and success. She is a gentle, radiant figure who attends to the daily needs of those who adore her. The first appearance of female divinities was in the guise of dayini, the gentle and beneficent fulfiller of the desires of devotees, a role which remains one of enduring strength and attraction.</p>
       <br>
       <img src="../imgBlog/mumbai2.jpg" alt="" class="header-img">
       <h2 class="sub-heading">3.Marine Drive</h2>
       <br>
       <h4 class="sub">22 feb 2023(By Ram)</h4>
       <h5 class="sub">Timing: (24 Hours)</h5>
       <p class="post-text">Another place to visit in Mumbai is the Marine Drive. Officially named as Netaji Subhash Chandra Bose Road, this is a 3 km long stretch with six lanes that runs by the coastline. It is located in the southern Mumbai while it runs towards the north of the city. Marine Drive forms a natural bay, which hypnotizes every visitor with its serene scenic beauty.

        Marine Drive is a C- shaped road which is a place to must visit when in Mumbai. The palm trees lined on the side make the pathway even more alluring. Its beauty is enhanced in night when wide stretch of street lights is lit up, giving it a look of necklace. The view is especially breath-taking when seen from an elevated point. Owing to this, it is often referred with the name of Queen’s Necklace. Marine Drive also links Nariman Point, which is also a popular place to visit in Mumbai to Babulnath.</p>
       <br>
       <img src="../imgBlog/mumbai3.jpg" alt="" class="header-img">
       <h2 class="sub-heading">4.Rajabai Clock Tower</h2>
       <br>
       <h4 class="sub">2 March 2023(By Manish)</h4>
       <h5 class="sub">Timing: 10.30 am-5 pm (Mon-Sun)</h5>
       <p class="post-text">Rajabai Clock Tower is an 85-metre tall tower in the Fort Campus of the University of Mumbai. Premchand Roychand, a businessman and a stockbroker, financed its construction. And Sir George Gilbert Scott designed it.

        The tower resembles London’s Big Ben, and it is among the tallest structures in the area. It chimes every fifteen minutes. The construction began in 1869, and it was completed by 1878.
        
        The access to the inside of the tower is closed to visitors, but you can admire the architecture and detailed stonework from outside. The tower has one of the best stained-glass works in the city. And the architecture is a blend of Venetian-Gothic style. The tower also has 24 small statues, portraying the life of common people during the British rule.</p>
    </section>
    <!--share-->
   
    <!--Footer-->
    <footer>
        <div class="footer-head">

            <div class="hotel-name">
                <a href="#">
                    <div class="logo">
                        <h1>NOMADS</h1><i class="fa-solid fa-person-hiking"></i><i class="fa-solid fa-mountain-city fa-2xl icon-logo"></i><i class="fa-solid fa-person-walking-luggage"></i><h1>HOSTEL</h1>
                    </div>
                 </a> 
            
                <p style="font-weight: bold ;word-spacing: 20px;">- LIVE TRAVEL  EXOLORE -</p>
                <br />
                <p style="line-height: 1.5">The website ends here, but your journey to the remotest destinations in India and Nepal begins with Nomads-Hostel. Explore with our social hostels, homestays, and luxury stays on your next holiday.</p>
                <a href="mailto:centralreservations@pridehotel.com" target="_top" class="email-anchorlink"><br />EMAIL: contact@nomads.com</a>
                
                <div class="social-links">
                    <div>
                        <a href="https://www.facebook.com/ThePrideHotels/" title="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/thepridehotels/?igshid=1ejp7g2rdcxnu" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/31500086" target="_blank" title="Linkedin" >
                            <i class="fa-brands fa-linkedin-in"></i >
                            </a>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.in/" target="_blank" title="TripAdvisor"> 
                            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

          <div class="hotel-city" style="word-spacing: 6px;">
            <ul>
                <a href="#"><li>KASOL |</li></a>
                <a href="#"><li>DHARMSHALA | </li></a>
                <a href="#"><li>HYDERABAD |</li></a>
                <a href="#"><li>JODHPUR |</li></a>
                <a href="#"><li>CHENNAI |</li></a>
                <a href="#"><li>GANGTOK |</li></a>
                <a href="#"><li>GOA |</li></a>
                <a href="#"><li>HALDWANI |</li></a>
                <a href="#"><li>JAISALMER |</li></a>
                <a href="#"><li>JAIPUR |</li></a>
                <a href="#"><li>KESAR_DEVI |</li></a>
                <a href="#"><li>LEH |</li></a>
                <a href="#"><li>MUSSOORIE |</li></a>
                <a href="#"><li>NAGPUR |</li></a>
                <a href="#"><li>NEW DELHI |</li></a>
                <a href="#"><li>NAINITAL|</li></a>
                <a href="#"><li>PURI |</li></a>
                <a href="#"><li>RANAKPUR |</li></a>
                <a href="#"><li>SASAN GIR |</li></a>
                <a href="#"><li>UDAIPUR</li></a>
            </ul>
          </div>
        </div>
        <hr />

        <div class="footer-foot">
          <div class="footer-foot-menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="about.html"><li>About Us</li></a>
              <a href="#"><li>Destinations</li></a>
              <a href="#"><li>Blogs</li></a>
              <a href="#"><li>Whats New</li></a>
              <a href="#"><li>Manage Booking</li></a>
              <a href="#"><li>Offers</li></a>
              <a href="#"><li>Guest Policy</li></a>
              <a href="#"><li>Covid Guidelines</li></a>
              <a href="#"><li>Facilities</li></a>
              <a href="#"><li>Media & News</li></a>W
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Partner With Us</li></a>
              <a href="#"><li>Holiday Bonds</li></a>
              <a href="#"><li>FAQs</li></a>
            </ul>
          </div>
        </div>
        <hr />
        <div class="copywrite">
          <ul>
            <a href="#"><li>© 2023 NOMADS HOSTEL</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Grievance Redressal</li></a>
          </ul>
        </div>
      </footer>
    <script src="js/script.js"></script>
</body>
</html>































